<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>347873311930-t8klg7ooaqhucunu5tf56nfapm0p5l2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347873311930-t8klg7ooaqhucunu5tf56nfapm0p5l2p</string>
	<key>API_KEY</key>
	<string>AIzaSyAZWw0vGq0CC62GboEciCrzIradOV4SpyE</string>
	<key>GCM_SENDER_ID</key>
	<string>347873311930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PR-Production.Snap-Clone</string>
	<key>PROJECT_ID</key>
	<string>snap-clone-7f7fe</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-clone-7f7fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347873311930:ios:2c7225174320a7d7</string>
	<key>DATABASE_URL</key>
	<string>https://snap-clone-7f7fe.firebaseio.com</string>
</dict>
</plist>